.top-padded {
    padding-top: 20px;
}

.left-padded {
    padding-left: 20px;
}

p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #DDD;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #292929;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #CCC;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #428bca;
    color: white;
}