.top-padded {
    padding-top: 20px;
}

.left-padded {
    padding-left: 20px;
}

p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #DDD;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #292929;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #CCC;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #428bca;
    color: white;
}

.infos {
    text-align: center;
    margin-bottom: 1rem;
}

.selected.inactive {
    width: 46%;
    margin: auto;
}

.selected.active {
    width: 46%;
    margin: auto;
    border-width: 1px;
    border-radius: 1rem;
    border-color: gray;
    border-style: solid;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

#x {
    position: relative;
    background: grey;
    color: white;
    right: -97%;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: #555;
    border-style: solid;
} 

#zoomStart, #zoomEnd {
    display: inline-block;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

#zoomStart {
    text-align: 'right';
}

#zoomEnd {
    text-align: 'left';
}

.light {
    color: #AAA;
}

.drop {
    cursor: pointer;
}

footer p {
    padding-top: 1rem;
    text-align: center;
    color: #888;
    font-size: 1.25rem;
}

.tooltip {
    position: absolute;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-radius: 1rem;
    padding: .5rem 1rem;
    height: 39.25rem;
    width: 26.5rem;
    line-height: 1.4rem;
}

.tooltip::before {
    content: '';
    display: block;
    position: absolute;
    top: -.65rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-width: 3px 0 0 3px;
    transform: rotate(45deg);
    z-index: 1;
}

.tooltip.left::before {
    left: 1.65rem;
}

.tooltip.right::before {
    right: 1.65rem;
}

.tooltip .visit {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip .avatar {
    width: 24rem;
    height: 32rem;
    border-radius: .5rem;
    margin-right: 1rem;
    flex: 0 0 5rem;
}

.tooltip .content {
    flex: 1 0 0;
}

.tooltip h3 {
    font-size: 2rem;
}

.tooltip p {
    font-size: .9rem;
    color: #777;
}

#filter {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: #969696;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #428bca;
    cursor: pointer;
    }

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #428bca;
    cursor: pointer;
}

input[type="range"] {
    width:50%
}