# Python script logs
camera-app/log.txt

# pycache
camera-app/__pycache__/*
camera-app/tests/__pycache__/*
webapp/birbcam-app/__pycache__/*
notebooks/__pycache__/*

# Saved images
imgs/*.jpg
imgs/training/*.jpg
camera-app/tests/test_temp/*
webapp/birbcam-app/static/imgs

# Model artifacts
models/*

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*

# Data
camera-app/tests/test_assets/*

# Secrets
*/secrets.py
*/*/secrets.py
*/client_secrets.json
*/env_params.sh
settings.env

# Proxy
proxy/logs/*
