{% extends "base.html" %}
{% block content %}
{% set active_page = "eval" %}
{% include "header.html" %}

<div>
<main>    
    <section>
    <header>
        <div class="container">
            <h3>Birb Cam Model Evaluation</h3>
            <h4>Filters:</h4>
            <form id="filter" action="http://192.168.0.24:5000/eval" method="GET">
                <label for="prediction">Select a Prediction Label: {{prediction}}</label>
                <br>
                <select name="prediction" id="prediction">
                  <option>none</option>
                  <option>sparrow</option>
                  <option>chickadee</option>
                  <option>magpie</option>
                  <option>squirrel</option>
                </select>
                <br><br>
                <label for="confrange">Prediction Confidence: {{confidence}}</label>
                <input id="slider" name="confidence" data-slider-id='filtSlider' type="range"
                    min="0" max="1" step="0.01" 
                    value="{{confidence}}"/>
                <input type="submit" class="submit" value="Submit"/>
                <br>
              </form>
            <div >
            <br>    
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{progress}};" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progress}} Complete</div>
            </div>
            {% if show_eval %}
            <table>
            <tr>
            <td>
            <p>
                {{filename}}:
            </p>   
            <img src="{{img}}" width='400'>
            </td>
            <td class='left-padded'>
            <p>
                Model selected a label of: <strong>{{label}}</strong>
            </p>
            <form name="model_eval" action="./api/model_eval_submit" method="POST" onsubmit="">
                <input type='hidden' name='utc_key' id='utc_key' value={{utc_key}}>
                <p>
                    Please select the correct label:
                </p>
                <p>
                    <input type="radio" name="label" id="none" value="none"> none </input><br>
                    <input type="radio" name="label" id="sparrow" value="sparrow"> sparrow </input><br>
                    <input type="radio" name="label" id="chickadee" value="chickadee"> chickadee </input><br>
                    <input type="radio" name="label" id="magpie" value="magpie"> magpie </input><br>
                    <input type="radio" name="label" id="squirrel" value="squirrel"> squirrel </input><br>
                </p>
                <p>
                    <input type=submit value=Submit>
                </p>
            </form>
            </td>
            </tr>
            </table>
            {% endif %}
            {% if not show_eval %}
            <p>
                All images have been reviewed!
            </p>
            {% endif %}
        </div>      
    </header>
    </section>
    <script>
        $( function() {
            $( "#prediction" ).selectmenu({
                change: function(event, ui) {
                    $(".form input[name='Value']").val( ui.value );
            }
            });
        });
        $( function() {
            $("#slider").slider({
                min: 0.0,
                max: 1.0,
                step:0.01,
                change: function(event, ui) {
                    $(".form input[name='Value']").val( ui.value );
                }
            });
        });
    </script>

</main>
</div>

{% endblock %}