{% set active_page = active_page|default('index') -%}

{% set navigation_bar = [
  ('/', 'index', 'Visualization'),
  ('/eval', 'eval', 'Model Evaluation'),
  ('/revise', 'revise', 'Label Revision'),
  ('/stream', 'stream', 'Birbstream')
] -%}

<title>Birb Cam</title>

<div>  
  <header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Birb Cam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% for href, id, caption in navigation_bar %}
              <li class="nav-item{% if id == active_page %} active{% endif %}"><a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </header>
</div>
