{% extends "base.html" %}
{% block content %}
{% set active_page = "index" %}
{% include "header.html" %}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{{' active' if viz_type == 'events'}}" href="/?viz_type=events">Events Visualization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{' active' if viz_type == 'diurnal'}}" href="/?viz_type=diurnal">Diurnal Visualization</a>
        </li>
    </ul>
</div>
<br>

{% if viz_type == "events" %}
    {% include "eventsviz.html" %}
{% endif %}
{% if viz_type == "diurnal" %}
    {% include "diurnalviz.html" %}
{% endif %}

{% endblock %}
