{% extends "base.html" %}
{% block content %}
{% set active_page = "index" %}
{% include "header.html" %}

<div class="container">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://unpkg.com/event-drops/dist/style.css" rel="stylesheet" />
    <h3>Birb Cam Visitors</h3>
    <!-- Modal -->
    <div class="modal fade" id="selected_modal" tabindex="-1" aria-labelledby="selectedLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selected_label"></h5>
                <span id="inat"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="visit" id="selected_image">
                </div>
            </div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="events" class="col-10"></div>
    </div>
    <div class="row">
        <p class="infos col-12">
            <span id="numberVisits"></span> visits <span class="light">found between</span> <br />
            <span id="zoomStart"></span> <span class="light">and</span> <span id="zoomEnd"></span>
        </p>
    </div> 
    <footer class="row">
        <p class="col-12">
            No birbs or other critters were harmed in the making of Birb Cam.
        </p>
    </footer>
    <script src="https://unpkg.com/d3@4.13.0/build/d3.min.js"></script>
    <script src="https://unpkg.com/d3-fetch"></script>
    <script src="https://unpkg.com/event-drops/dist/index.js"></script>
    <script >
        var global = global || window;

        function addDays(date, days) {
            const copy = new Date(Number(date))
            copy.setDate(date.getDate() + days)
            return copy
        };

        var end_date = addDays(new Date(), 1);
        var start_date = new Date('2020-11-30');
        //console.log(start_date);
        //console.log(end_date);
        
        const numberVisitsContainer = document.getElementById('numberVisits');
        const zoomStart = document.getElementById('zoomStart');

        const appendLeadingZeroes = (n) => {
            if(n <= 9){
                return "0" + n;
            }
            return n
        };

        const cleanDate = (date) => {
            const monthNames = [
                'Jan.',
                'Feb.',
                'March',
                'Apr.',
                'May',
                'June',
                'Jul.',
                'Aug.',
                'Sept.',
                'Oct.',
                'Nov.',
                'Dec.',
            ];

            return `
                ${monthNames[date.getMonth()]} ${date.getDate()} ${date.getFullYear()}
                ${appendLeadingZeroes(date.getHours())}:${appendLeadingZeroes(date.getMinutes())}:${appendLeadingZeroes(date.getSeconds())}
            `;
        };

        const dbDate = (date) => {
            db_date = `${date.getFullYear()}-${appendLeadingZeroes(date.getMonth() + 1)}-${appendLeadingZeroes(date.getDate())}T${appendLeadingZeroes(date.getHours())}:${appendLeadingZeroes(date.getMinutes())}:${appendLeadingZeroes(date.getSeconds())}`
            return db_date;
        };

        var updateChartData = (start_date, end_date) => {
            d3.json('/api/data', {
                method:"post",
                body: JSON.stringify({
                    start_date: dbDate(start_date),
                    end_date: dbDate(end_date)
                })
            })
            .then(function(json) {
                var birbsData = json;
                d3.select('#events').data([birbsData]).call(chart);
                updateVisitsInformation(chart);
            });
        };

        const updateVisitsInformation = chart => {
            const filteredData = chart
                .filteredData()
                .reduce((total, repo) => total.concat(repo.data), []);

            numberVisitsContainer.textContent = filteredData.length;
            zoomStart.textContent = cleanDate(chart.scale().domain()[0]);
            zoomEnd.textContent = cleanDate(chart.scale().domain()[1]);
        };

        function inaturalist_upload(utc_datetime){
            $.ajax({
                type: "GET",
                url: "/api/inaturalist",
                data: {
                    "utc_key": utc_datetime
                },
                cache: false,
            });
        }

        const tooltip = d3
            .select('body')
            .append('div')
            .classed('tooltip col-4 col-lg-2 col-md-4 col-sm-6', true)
            .style('opacity', 0)
            .style('pointer-events', 'auto')
        
            
        var chart = eventDrops({
            line: {
                color: (line, index) => {
                    colors = ['#FF7F00', '#3166B6', '#E2000B', '#00B028'];
                    color_index = (index % colors.length);
                    return colors[color_index]
                }
            },
            zoom: {
                onZoomEnd: () => updateVisitsInformation(chart),
            },
            range: {
                start: start_date,
                end: end_date
            },
            drop: {
                date: d => new Date(d.date),
                onMouseOver: visit => {
                    tooltip
                        .transition()
                        .duration(200)
                        .style('opacity', 1)
                        .style('pointer-events', 'auto');

                    tooltip
                        .html(
                            `
                            <div>
                                <h5>${visit.date}</h5>
                            </div>
                            <div class="visit">
                                <img class="preview" src="/api/serve_image/${visit.image}" />
                            </div>
                        `
                        )
                        .style('left', `${d3.event.pageX - 30}px`)
                        .style('top', `${d3.event.pageY + 20}px`);
                },
                onMouseOut: () => {
                    tooltip
                        .transition()
                        .duration(500)
                        .style('opacity', 0)
                        .style('pointer-events', 'none');
                },
                onClick: visit => {
                    $('#selected_modal').modal();
                    d3.select('#selected_label').text(`${visit.date} - ${visit.true_label}`);
                    console.log(visit.inat_id);
                    if(!visit.inat_id) {
                        d3.select('#inat')
                            .html("");
                    } else {
                        d3.select('#inat')
                            .html(
                                `<a target="_blank" href="https://www.inaturalist.org/observations/${visit.inat_id}">
                                    <img src="/static/imgs/inat_logo.svg" width="25rem">
                                </a>`);
                    }
                    d3.select('#selected_image')
                        .html(`<img class="preview" src="/api/serve_image/${visit.image}" />`);
                    d3.select('.modal-footer')
                        .html(`<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               <button type="button" class="btn btn-success" onclick="inaturalist_upload('${visit.utc_datetime}')">iNat Upload</button>
                               <button type="button" class="btn btn-primary" onclick="window.location='/revise?dt_key=${visit.date}';">Revise</button>`);
                },
            },
        });
    
        updateChartData(start_date, end_date);
    </script>
</div>

{% endblock %}